<div id="list-view">
  <div class="row titles">
    <div class="col">ID</div>
    <div class="col">First Name</div>
    <div class="col">Last Name</div>
    <div class="col">Age</div>
  </div>

  <div class="row items" ng-repeat="item in vm.agesAndNames | orderBy:'id'">
    <div class="col">{{item.id}}</div>
    <div class="col">{{item.firstName}}</div>
    <div class="col">{{item.lastName}}</div>
    <div class="col">{{item.age}}</div>
  </div>
</div>