#list-view {
  border: 1px solid #e8e8e8;
  background-color: white;

  > div:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    font-size: 14px;

    &.titles {
      font-size: 16px;
    }

    .col {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 5px;
    }
  }
}