/* Do not remove the comments below. It's the markers used by wiredep to inject
   less dependencies when defined in the bower.json of your dependencies */
// bower:less
// endbower

body {
  font-family: sans-serif;
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
